* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  list-style: none;
  text-decoration: none;
  color: black !important;
  transition: 100ms ease-out;
}

::-webkit-scrollbar {
  display: none;
}

#nav {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
#nav .nav-link {
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 0.8;
  color: beige !important;
}
#nav .nav-link::before {
  content: "";
  display: block;
  width: 0;
  height: 1.6px;
  background: bisque;
  opacity: 0.7;
  transition: width 0.3s;
}
#nav .nav-link:hover::before {
  width: 80%;
}
#nav .navbar-brand {
  margin-left: 1.2rem;
  font-family: Marck Script;
  font-weight: 200;
  font-size: 1.6rem;
  opacity: 0.9;
  color: bisque !important;
  position: relative;
  z-index: 10;
}
#nav ul {
  transition: 500ms ease-in;
}
#nav ul li {
  margin-right: 1rem;
  padding-top: 0.5rem;
}
#nav .buttons {
  display: none;
  position: absolute;
  right: 0;
  margin: 0 1rem 0 1rem;
  cursor: pointer;
}
#nav .buttons .icon {
  display: block;
  width: 30px;
  height: 2px;
  background: bisque;
  margin-bottom: 0.4rem;
  transition: 200ms ease-in;
}
#nav .but .fa {
  font-size: 1.1rem;
  opacity: 0.8;
  color: bisque !important;
}

.rotate-left {
  position: absolute;
  transform: rotateZ(220deg);
  top: 50%;
  right: 0;
}

.rotate-right {
  position: absolute;
  transform: rotateZ(-220deg);
  top: 50%;
  right: 0;
}

.disappear {
  opacity: 0;
}

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 10%;
  height: 10%;
  width: 0.125rem;
  background: bisque;
}

.he {
  text-orientation: upright !important;
  -ms-writing-mode: tb-rl !important;
      writing-mode: vertical-rl !important;
  font-size: 1rem;
  color: bisque !important;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 10%;
  height: 10%;
  width: 0.125rem;
  background: bisque;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon-wrapper {
  width: 2rem;
  height: 2rem;
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 3rem;
  cursor: pointer;
}
.icon-wrapper .fa {
  color: bisque !important;
}

@media (max-width: 801px) {
  #nav ul {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    position: fixed;
    top: 10vh;
    -webkit-clip-path: circle(0.3% at 100% 0);
            clip-path: circle(0.3% at 100% 0);
    text-align: center !important;
  }
  #nav ul li .nav-link {
    color: white !important;
  }
  #nav ul li .nav-link::before {
    background: white !important;
  }
  #nav .buttons {
    display: block;
  }

  .data {
    margin: auto;
  }

  .show {
    -webkit-clip-path: circle(139.5% at 0 97%) !important;
            clip-path: circle(139.5% at 0 97%) !important;
  }
}/*# sourceMappingURL=styles.css.map */